<template>
  <div class="home">
    <b-container>
      <b-row>
        <b-col>
          <Number @valueChange="valueChange"></Number>
        </b-col>
        <b-col>
          {{ number }}
        </b-col>
      </b-row>
    </b-container>
    <b-container>
      <b-row>
        <b-col>
          <Number2></Number2>
        </b-col>
        <b-col>
          {{ number2 }}
        </b-col>
      </b-row>
      <b-row>
        <b-table striped hover :items="items"></b-table>
      </b-row>
    </b-container>
  </div>
</template>

<script>
// @ is an alias to /src
import Number from '@/components/Number.vue'
import Number2 from '@/components/NumberVue.vue'

export default {
  name: 'Home',
  data () {
    return {
      number: 0
    }
  },
  components: {
    Number,
    Number2
  },
  methods: {
    valueChange (value) {
      this.number = value
    }
  },
  computed: {
    number2 () {
      return this.$store.state.number
    },
    items () {
      return this.$store.state.log
    }
  }
}
</script>
